[Unit]
Description=Ovnotifier
After=mysql.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=0
User=root
ExecStart=/root/run.sh

[Install]
